body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

figure{
    margin-bottom: 5vh;
}

svg {
    height: 15vh;
    color: #777;
}

#notification {
    position: fixed;
    top: 3vh;
}
