body{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh;
    display: block;
}

#ex-list li{
    margin-top: 1vh;
}

header {
    position: fixed;
    right: 0;
    z-index: 999;
}

#navMenu{
    width: 75vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results_table{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vh;
    border: 1px solid;
    text-align: center;
    max-width: 100%;
}

.results_header{
    padding: 0.5em;
}

.results_cell{    
    border: 1px solid;
}



#upper-panel{
    position: relative;
    text-align: center;
    font-size: 200%;
    margin-bottom: 1vh;

}

#lower-panel{
    position: absolute;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 150%;
    bottom: 0;
}

.error_button, .control_button{
    font-size: 140%;
}

#error_buttons_div, #control_buttons_div{
    display: grid;
    grid-template-columns: 50% 50%;
}

#control_buttons_div + #error_buttons_div{
    margin-top: 0.2vh;
}

#time_button{
    font-size: 60%;
}



#exercise{
    position: relative;
    width: 100%;
    height: 50vh;
    word-wrap: break-word;
}

#exercise.patient{
    margin-top: 10vh;
    height: 80vh;
}

#slide{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

#message{
    text-align: center;
    /* font-size: 500%; */
    font-size: 5vh;
    height: 70%;
}

.access_aid {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white 10px 10px / 20px 20px no-repeat;
}

#slide-number {
    position: absolute;
    color: #ff0000;
    opacity: 1;
    /* left: 0; */
    /* top: 0; */
    right: 0;
    top: -2em;
    opacity: 0.3;
}
